@using AgendaOn.Domain.Enums;
@model AgendaOn.Presentation.ViewModels.AgendaViewModel;

@{
    ViewData["Title"] = "Minha Agenda";
}


<h1>Minha Agenda</h1>

<!-- Criação da tabela -->
<table class="table table-striped table-hover table-bordered mt-5">
    <thead>
        <tr>
            @if (Model.TipoUsuario == (int)TipoUsuario.CLIENTE)
            {
                <th>Prestador</th>
            }
            else if (Model.TipoUsuario == (int)TipoUsuario.PRESTADOR)
            {
                <th>Cliente</th>
            }
            <th>Data</th>
            <th>Horário</th>
            <th class="text-center">Ação</th>
        </tr>
    </thead>
    <tbody>
        <!-- Loop para preencher a tabela com os dados do array -->
        @foreach (var item in Model.Agendamentos)
        {

            <tr>
                @if (Model.TipoUsuario == (int)TipoUsuario.PRESTADOR)
                {

                    <td>@item.Cliente?.Usuario.Nome</td>
                }
                else if (Model.TipoUsuario == (int)TipoUsuario.CLIENTE)
                {
                    <td>@item.Prestador?.Usuario.Nome</td>
                }

                <td>@item.DataAgendamento</td>
                <td>@item.Horario.HoraInicio - @item.Horario.HoraFim</td>
                <td class="text-center">
                    @Html.ActionLink("Cancelar", "Cancelar","Agendamento", new { Id=item.Id }, new { @class = "btn btn-danger btn-sm"})
                    @Html.ActionLink("Alterar", "Agendar","Agendamento", new {Id=item.PrestadorId, idAleracao=item.Id }, new { @class = "btn btn-warning btn-sm"})
                </td>
            </tr>

        }


    </tbody>
</table>

